*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
    font-size: 125.0%;
}

body, input, select, textarea, button {
    font-size: 1em;
    font-weight: 400;
	font-family: 'Poppins', sans-serif;
}