/* Inputs Resets */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=file], select {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
}

input[type=file] {
    top: 0;
    padding: 0;
    height: 0;
    overflow: hidden;
    border: none;
    box-shadow: none;
}

/* Form containers */
.form-container-normal {
    background: rgb(255, 255, 255);
    margin: 3em auto;
	padding: 3em;
    width: 30em;
}

.form-container-login {
	background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	padding: 3em;
    width: 25em;
}

/* Forms */
.form-container form {
    width: 100%;
}

/* Div Itens */
.form-container .div-item {
    position: relative;
    margin-bottom: 1.5em;
    width: 100%;
    height: 3em;
    float: left;
    z-index: 1;
}

.form-container .div-item-left {
    width: calc(50% - 0.25em);
}

.form-container .div-item-right {
    width: calc(50% - 0.25em);
    float: right;
}

.form-container .div-item-text-area {
    height: 6em;
}

.form-container .div-item-submit {
    background: none;
    margin-top: 1em;
    margin-bottom: 0;
    height: 3em;
    border: 0;
}

/* Inputs, Selects, Textareas, Buttons */
.form-container .form-item {
    background: none;
    position: absolute;
    bottom: 0;
    padding: 0.7em 1em 0;
    width: 100%;
    height: 3em;
    line-height: 3em;
    border: 0.050em solid #ccc;
    border-radius: 0.250em;
    box-shadow: none;
    z-index: 1;
}

.form-container .form-item.focus {
    border-color: blue;
    border-width: 0.100em;
}

.form-container .form-item.validate-error {
    border-color: red;
}

.form-container .form-item.validate-ok {
    border-color: green;
}

/* Labels */
.form-container .label {
    transition: top ease 0.5s;
    background: #fff;
    position: absolute;
    margin-left: 0.5em;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 0.5em;
    height: 1em;
    line-height: 1em;
    color: #cccccc; /* Cinza claro */
    font-weight: 700;
    cursor: text;
    z-index: 1;
}

.form-container .label.focus {
    top: 0;
    color: blue;
}

.form-container .label.validate-error {
    color: red;
}

.form-container .label.validate-ok {
    color: green;
}

.form-container .span-error-description {
    display: none;
    position: absolute;
    bottom: -1.6em;
    left: 0;
    padding: 0 0.8em;
    height: 1.7em;
    line-height: 1.7em;
    font-size: 0.6em;
    font-weight: 400;
    color: red;
    cursor: text;
}

select {
    background: url('form_images/selectSeta.svg') no-repeat 98% 50%;
    background-size: 1.5em;
    cursor: pointer;
    padding: 0 0.5em;
}

textarea {
    padding-top: 1.5em;
    padding-bottom: 1em;
    height: 100%;
    line-height: 1em;
    resize: none;
}


/* Spans */
span.inputFileMaskIcon {
    background: url('form_images/fileUpload.svg') no-repeat 98% 50%;
    background-size: 1.5em;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

span.spanShowPassword {
    background: url('form_images/showPassword.svg');
    background-position: 0 0;
    position: absolute;
    display: block;
    top: 0.9em;
    right: 0.6em;
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
    z-index: 1;
}

.labelValidateJsOk, .labelValidateJsError {
    display: none;
}

.labelValidateJsOk {
	color: #009c41; /* Verde */
}

.labelValidateJsError {
	color: #E74C3C; /* Vermelho */
}

.symbolValidateJsOk, .symbolValidateJsError {
    margin-left: 0.5em;
}

.symbolValidateJsOk {
    color: #009c41; /* Verde */
}

.symbolValidateJsError {
    color: #E74C3C; /* Vermelho */
}

/* Formulário de Login */
.spanInputIcon {
    position: absolute;
    top: 0.9em;
    left: 0.7em;
    width: 1.2em;
    height: 1.2em;
    z-index: 2;
}

#spanInputIconUser {
    background: url('form_images/user.svg');
}

#spanInputIconPassword {
    background: url('form_images/password.svg');
}

input.user, input.password {
    padding-left: 2.5em;
    padding-right: 2.5em;
}